[Unit]
Description=Battery monitor service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/projects/batterymonitor/batterymonitor/batterymonitor.py
[Install]
WantedBy=multi-user.target